<div class="card" class="bg-dark text-light shadow rounded">
    <div class="card-body p-4">
        <div class="row align-items-center">
            <div class="col-2">
                <img src="../../../../../../assets/icons/student.png" alt="Cantidad de alumnos">
            </div>
            <div class="col-10 text-center">
                <h4 class="">{{ title | titlecase }}</h4>
                <span class="text-white h1" style="letter-spacing: 5px;">{{ quantity }}</span>
            </div>
        </div>
    </div>
</div>